{% extends "::base.html.twig" %}

{% block title %}AppBundle:Job:add{% endblock %}

{% block body %}

    <form method="post" novalidate>

        <div class="form-group">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        {{ form_rest(form) }}
        <input class="btn btn-success" type="submit" value="Dodaj ofertę" />


    </form>

{% endblock %}
