<div class="list-group">
    {% for category in categories %}
        <a href="{{ path('jobs_list', {'id': category.id}) }}" class="list-group-item">
            <span class="badge">{{ category.jobs|length }}</span>
            <h6 class="list-group-item-heading">{{ category.name }}</h6>
        </a>
    {% endfor %}
</div>